@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import "../fonts/fonts.css";

body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}
a {
    text-decoration: none;
}
.underline {
    text-decoration: underline;
}

@import "style";
//@import "utilities/utilities";
//@import "components/components";
//@import "theme/theme";