@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import "../fonts/fonts.css";

* {
    box-sizing: border-box;
    font-family: HKGrotesgsk, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.border-none {
    border-style: none !important;
}

.bg-ligth-white {
    background: #eee;
}

.scrolling-wrapper {
    overflow-x: auto;
}

.text-underline {
    text-decoration: underline;
}