/* review section */
.section-review .bg-img {
    background-image: url("../svg/shape-1.svg");
    background-repeat: no-repeat;
}

.section-review img {
    width: 92%;
}

@media screen and (max-width:632px) {
    .section-review img {
        width: 92%;
    }
}

.integration ul li {
    background: #fff;
    border-radius: 50%;
}

.integration ul li img {
    width: 55%;
}

/* download section */
.download {
  margin-top: 120px;
}
.download .container {
  border-top: solid 1px #e3e7ed;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
.download .tagline {
  font-size: 40px !important;
  margin-top: 40px;
  margin-bottom: 24px;
}
.download .download-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 345px;
  background-color: rgba(54, 179, 126, 0.1);
  color: #5a7184;
  padding-top: 50px;
  padding-bottom: 40px;
}
.download .download-card:hover {
  background-color: #36b37e;
  color: white;
}
.download .download-card:hover a {
  background-color: white;
  color: #183b56;
  border-color: white;
  text-decoration: none;
}
.download img {
  font-size: 42px;
  margin-bottom: 48px;
}
.download .title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 0.2px;
}
.download .desc {
  font-size: 16px;
  line-height: 1.75;
  margin-top: 12px;
  margin-bottom: 40px;
}
.download a {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 45px;
  margin: auto;
  background-color: transparent;
  border-radius: 12px;
  border: solid 2px #36b37e;
  font-family: "Open Sans", sans-serif;
  color: #36b37e;
  font-weight: bold;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .download {
    margin-top: 130px;
  }
  .download .container {
    max-width: 708px;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 72px;
  }
  .download .tagline {
    font-size: 32px !important;
    margin-top: 24px;
    margin-bottom: 18px;
  }
  .download a {
    padding: 13px 24px;
  }
  .download .download-card {
    width: 236px;
    height: fit-content;
    padding-top: 36px;
    padding-bottom: 32px;
  }
  .download img {
    margin-bottom: 46px;
  }
  .download .title {
    font-size: 22px;
  }
  .download .desc {
    font-size: 14px;
    padding: 0 32px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .download {
    margin-top: 130px;
  }
  .download .container {
    max-width: 708px !important;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 72px;
  }
  .download .tagline {
    font-size: 32px !important;
    margin-top: 24px;
    margin-bottom: 18px;
  }
  .download a {
    padding: 13px 24px;
  }
  .download .download-card {
    width: 236px;
    height: fit-content;
    padding-top: 36px;
    padding-bottom: 32px;
  }
  .download img {
    margin-bottom: 46px;
  }
  .download .title {
    font-size: 22px;
  }
  .download .desc {
    font-size: 14px;
    padding: 0 32px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .download {
    margin-top: 130px;
  }
  .download .container {
    max-width: 576px !important;
    padding: 0;
    padding-top: 46px;
    padding-bottom: 72px;
  }
  .download .tagline {
    font-size: 32px !important;
    margin-top: 24px;
    margin-bottom: 18px;
  }
  .download a {
    padding: 13px 24px;
  }
  .download .download-card {
    width: 192px;
    height: fit-content;
    padding-top: 36px;
    padding-bottom: 32px;
  }
  .download img {
    margin-bottom: 46px;
  }
  .download .title {
    font-size: 22px;
  }
  .download .desc {
    font-size: 14px;
    padding: 0 32px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
@media (max-width: 575.98px) {
  .download {
    margin-top: 169px;
  }
  .download .container {
    max-width: 280px;
    padding: 0;
    padding-top: 46px;
  }
  .download .tagline {
    font-size: 28px !important;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  .download .flex {
    gap: 20px;
  }
  .download .download-card {
    width: 280px;
    height: fit-content;
    padding-top: 24px;
    padding-bottom: 20px;
  }
  .download img {
    margin-bottom: 24px;
  }
  .download .title {
    font-size: 22px;
  }
  .download .desc {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 32px;
  }
  .download a {
    width: 235px;
    height: 48px;
    padding: 0;
  }
}


/* subscribe section */
.subscribe {
  margin-bottom: 44px;
}
.subscribe .container {
  border-bottom: solid 1px #e3e7ed;
  padding-top: 42px;
  padding-bottom: 62px;
}
.subscribe .title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #183b56;
}
.subscribe .desc {
  font-size: 16px;
  line-height: 1.75;
  color: #5a7184;
  margin-top: 8px;
}
.subscribe .custom-form {
  display: flex;
}
.subscribe input {
  flex: auto;
  border-radius: 8px;
  box-shadow: 0 -10px 35px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #e5eaf4;
  border-right: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  color: #5a7184;
  padding-left: 24px;
}
.subscribe button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: #183b56;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: bold;
}
.subscribe .form-group {
  width: 497px;
  box-shadow: 0 -10px 35px 0 rgba(0, 0, 0, 0.03);
}
.subscribe input:focus {
  box-shadow: none;
}
.subscribe .btn {
  border-radius: 4px;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .subscribe {
    text-align: center;
  }
  .subscribe .container {
    max-width: 497px;
    padding: 40px 0;
    border: none;
  }
  .subscribe .desc {
    margin-bottom: 36px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .subscribe {
    text-align: center;
  }
  .subscribe .container {
    max-width: 497px !important;
    padding: 40px 0;
    border: none;
  }
  .subscribe .desc {
    margin-bottom: 36px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .subscribe {
    text-align: center;
  }
  .subscribe .container {
    max-width: 497px !important;
    padding: 40px 0;
    border: none;
  }
  .subscribe .desc {
    margin-bottom: 36px;
  }
}
@media (max-width: 575.98px) {
    .subscribe {
    text-align: center;
    padding-top: 72px;
    margin-bottom: 0;
  }
  .subscribe .container {
    max-width: 280px;
    padding: 0;
    padding-bottom: 36px;
  }
  .subscribe .desc {
    font-size: 14px;
    margin-top: 14px;
  }
  .subscribe .custom-form {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 12px 8px;
    margin-top: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 -10px 35px 0 rgba(0, 0, 0, 0.03);
  }
  .subscribe input {
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-right: solid 1px #e5eaf4;
    height: 40px;
    padding: 0;
    padding-left: 16px;
  }
  .subscribe button {
    width: 100%;
    height: 40px;
    border-radius: 8px;
  }
}


/* footer section */
.footer {
    padding-top: 33px;
    padding-bottom: 80px;
}

.footer .footer-widget .description {
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 28px;
}

.footer .footer-widget h5 {
    font-family: sans-serif;
    font-weight: bold !important;
    font-size: 18px;
    margin-bottom: 32px;
}

.footer .footer-widget-link li {
    margin-bottom: 20px;
}

.footer .footer-widget-link li a {
    font-family: sans-serif;
    line-height: normal;
}

.footer .footer-widget-link li:last-child {
    margin-bottom: 0;
}

.footer-sosmed {
    display: flex;
    margin-top: 32px;
}

.footer-sosmed li .btn {
    margin-right: 6px;
    background: #eee;
}

.footer-sosmed li:last-child .btn {
    margin-right: 0;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .footer-widget h5 {
    color: #183b56;
}

.footer .footer-widget-link li a {
    color: #183b56;
}

@media (max-width: 767.98px) {
    .footer {
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .footer>.container>.row {
        flex-direction: column-reverse;
    }

    .footer .footer-left {
        text-align: center;
    }

    .footer .footer-left .footer-widget {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .footer-right .footer-widget {
        margin-bottom: 39px;
    }

    .footer .footer-right .footer-widget h5 {
        margin-bottom: 20px;
    }

    .footer-copyright {
        display: none;
    }
}

@media (max-width: 575.98px) {
    .footer .footer-right {
        margin-bottom: 8px;
    }

    .footer .footer-right .footer-widget h5 {
        font-size: 1rem;
    }

    .footer .footer-right .footer-widget li {
        margin-bottom: 15px;
    }

    .footer .footer-right .footer-widget li a {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .footer-right .footer-widget {
        margin-bottom: 48px;
    }
}