.form-switch .form-check-input {
    height: 24px;
    width: 48px;
}

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}

.form-switch .form-check-input:checked {
    background-color: #ffbb33;
    border-color: #ffbb33;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.card-block {
    width: 88%;
    height: 200px;
    transition: all 0.2s ease-in-out !important;
    border-radius: 10px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: none;
        opacity: 0.9;
    }
}

.card-img-auto {
    height: 400px;
}

.card-img-auto img {
    top: 15px;
}

.hero h1 {
    font-size: 38px;
    font-weight: bold;
    color: #183b56;
}

.radius-btn {
    border-radius: .70rem !important;
}

.hero .btn-light {
    background: #eee;
}

.pricing {
    background: #eee;
}

.bg-green {
    background: darkseagreen;
}
